.widget-teamindexcontent {

    .img-container {
        height: 250px;
    }

    .img-background {
        height: 295px;
    }

    .tile {
        padding-right: 8px;
        padding-left: 8px;
    }

    .caption-container {
        margin-top: 25px;
        margin-bottom: 65px;
        color: #1c1c1c;
    }

    .cursor-pointer {
        cursor: pointer;
    }
}