@import "../../../../styles/mixins/media";
@import '../../../../styles/variables';

.widget-search-tool {

    &.sidebar-view {
        .container {
            max-width: 100%;
            min-width: unset;
        }

        .tabs {
            .tab-item {
                width: 33%;
                margin: 0;
                padding: 0 5px;
                display: table;

                &:not(:first-child) {
                    border-left: 1px solid #fff;
                }

                .tab-item-name {
                    width: 100%;
                    word-break: break-word;
                    display: table-cell;
                    line-height: normal;
                    vertical-align: middle;
                }
            }
        }
    }
    .mobile-toggle {
        box-sizing: border-box;
        font-size: 1.5rem;
    }
}
