
#divSimilarHotels {font-size:13px;}
#divSimilarHotels h2 {margin-bottom:5px;}
#divSimilarHotels a.similarHotel {display:block;position:relative;padding:10px 10px 10px 100px;margin-bottom:8px;min-height:64px;}
#divSimilarHotels a.similarHotel h3 {margin:0;}
#divSimilarHotels img {position:absolute;top:10px;left:10px;width:80px;height:64px;display:block;}
#divSimilarHotels p {margin-bottom:3px;margin-top:0px;}