@import "../mixins/media";

//== Utility Float Styling
//
//## Classes to help with common styling declarations for floated elements

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

@include break-sm {
    .float-sm-left {
        float: left !important;
    }

    .float-sm-right {
        float: right !important;
    }
}

@include break-md {
    .float-md-left {
        float: left !important;
    }

    .float-md-right {
        float: right !important;
    }
}

@include break-lg {
    .float-lg-left {
        float: left !important;
    }

    .float-lg-right {
        float: right !important;
    }
}
