
#divHotelDetails #imgMainImage {width:400px;height:240px;}
#divHotelDetails #divOtherImages img {width:100px;height:80px;margin:2px;}

#divHotelDetails div {margin-bottom:20px;}
#divHotelDetails div div {margin-bottom:0px;}
#divHotelDetails h1 {color:#333;}
#divHotelDetails h3 {margin-bottom:10px;color:#333;}
#divHotelDetails h4 {margin-bottom:5px;color:#333;}
#divHotelDetails div.top h4 {margin-bottom:0px;}
#divHotelDetails h1 span.rating {padding-left:4px;}

#divHotelDetails table.roomoptions {border-collapse:collapse;width:100%;}
#divHotelDetails table.roomoptions th, #divHotelDetails table.roomoptions td {text-align:left;padding:5px 0px;}
#divHotelDetails table.roomoptions th:first-child, #divHotelDetails table.roomoptions td:first-child {padding-left:10px;}

#divHotelDetails dl {margin:0 0 5px 0;padding:0;width:200px;float:left;padding-right:40px;}
#divHotelDetails dd {font-weight:bold;margin:0;display:inline;}
#divHotelDetails dt {display:inline;}

/* Theme */

#divHotelDetails table.roomoptions th {background-color:#ff8400;color:#fff;}
#divHotelDetails table.roomoptions tr.alt td {background-color:#e8e8e8;}
#divHotelDetails div.roomoptions {border:1px solid #9b9b9b;}
#divHotelDetails img {border:1px solid #edeff2;}