.widget-prebookbooking {

    .loading-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 11px 10px 11px 0;
        background: url("/booking/Images/loader.gif");
    }
}
