@import "../../mixins/media";
@import "../../variables";


.widget-searchsummary {
    .search-summary {
        margin-top: $padding-small;
        padding: $padding-base;
        border: 1px solid $gray-light;
        background-color: #fff;
        line-height: 1rem;
    }
}
