
/* general */
div.imageRotator {position:relative;width:100%;height:auto;}
div.imageRotatorWindow {position:relative;width:100%;height:auto;overflow:hidden;}

/* transition - fade */
div.imageRotator.fade div.imageRotatorImages {position:relative;width:600px;height:auto;}
div.imageRotator.fade div.imageRotatorImages a.mainImage {position:absolute;top:0;left:0;width:600px;height:400px;}
div.imageRotator.fade div.imageRotatorImages a.noLink {cursor:default;}


/* transition - slide */
div.imageRotator.slide div.imageRotatorImages {position:relative;height:auto;}
div.imageRotator.slide div.imageRotatorImages img {float:left;width:100%;z-Index:0;}
div.imageRotator.slide div.imageRotatorImages a.noLink {cursor:default;}



/* navigation - numbers */
div.imageRotator div.imageRotatorNumbers {position:absolute;top:20px;right:20px;}
div.imageRotator div.imageRotatorNumbers a {display:inline-block;height:30px;width:30px;line-height:30px;text-align:center;text-decoration:none;font-family:ptsans_bold;color:#323232;}
div.imageRotator div.imageRotatorNumbers a.selected {color:#fff;background:#777;}


/* navigation - scrollers */
div.imageRotator a.imageRotatorScroller {position:absolute;top:50%;display:inline-block;width:40px;height:40px;line-height:40px;z-index:200;margin-top:-20px;border-radius:20px;
											cursor:pointer;text-align:center;text-decoration:none;font-family:'Glyphicons';background:#fff;color:#444;opacity:0.4;}
div.imageRotator a.imageRotatorScroller:hover {opacity:0.7;}

div.imageRotator a.imageRotatorScroller.left {left:10px;}
div.imageRotator a.imageRotatorScroller.left:before {content:"\e225";}	

div.imageRotator a.imageRotatorScroller.right {right:10px;}
div.imageRotator a.imageRotatorScroller.right:before {content:"\e224";}