@import "../../mixins/clearfix";
@import "../../mixins/media";

.blog-list-filter-options {
    @include clearfix;
    margin-bottom: 30px;
    padding: 20px 0 30px;
    border-bottom: 1px solid #dcdcdc;

    .h-tertiary {
        width: 20%;
        height: 54px;
        float: left;
        line-height: 54px;

        @include sm-down() {
            width: 100%;
        }
    }
}

.blog-list-filter {
    .blog-filter-summary {
        margin-bottom: 30px;
    }

    .custom-select {
        display: inline-block;
        width: 39%;
        margin: 0 0.5%;
        margin-bottom: 10px;
        float: left;

        @include sm-down() {
            width: 49%;
        }
    }
    
    @include break-md() {
        .custom-select {
            margin-bottom: 0;
        }
    }
}
