#divSearchSummary h4 {margin-bottom:10px;}
#divSearchSummary div.box {min-height:24px;padding-top:10px;}
#divSearchSummary #divPagingTop ul {margin:0;}
#divSearchSummary #divSortOrder {float:right;}
#divSearchSummary #divSortOrder label {margin-right:5px;}
