@import "../../mixins/clearfix";
@import "../../mixins/media";
@import "../../variables";


.booking-transfer-details {

    .transfer-vehicle {
        p {
            font-size: 0.875rem;
        }

        p + p {
            margin-top: 0;
        }
    }

    .transfer-label {
        width: 100px;
        float: left;
        font-size: 0.875rem;
    }

    .transfer-detail {
        font-size: 0.875rem;
    }

    @media print {
        .col-md-4 {
            width: 33.3333%;
            float: left;
        }
    }
}
